.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.footer {
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    text-align: center;
}